<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ModificationBaseDeDonnees.Properties.Settings.NouvelleBaseEssaieConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;P:\Richard D\BDDV4 - testing\NouvelleBaseEssaie.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ModificationBaseDeDonnées.Properties.Settings.Compteurs_SN_IESConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;P:\Richard D\BDDV4 - testing\Compteurs_SN_IES.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ModificationBaseDeDonnées.Properties.Settings.BDDEtiquettesPFConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;P:\Richard D\BDDV4 - testing\BDDEtiquettesPF.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>